PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=studyflow_user
DB_PASSWORD=coloque_sua_senha_aqui
DB_NAME=studyflow

JWT_SECRET=troque_esta_chave_por_uma_frase_grande_e_unica
CORS_ORIGIN=http://localhost:3001
AUTO_SEED=false
